<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=9">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/assets/css/preview-image.css">
    <title>Dashboard </title>
    <style>
        .header {
            background-color: rgb(103, 158, 202);
            color: white;
            padding: 20px 30px;
        }

        .table {
            margin: 0;
        }

        .table > thead {
            background-color: green;
            color: white;
        }

        button {
            background: none;
            border: 1px white solid;
            border-radius: 3px;
            color: white;
            font-size: 15px;
            padding: 7px;
        }

        .main-content label {
            font-weight: bold;
        }

        table i {
            font-size: 12px;
        }

        .modal-alert-danger {
            padding: 10px 35px;
            margin-bottom: 15px;
            color: #842029;
            background-color: #f8d7da;
            border-color: #f5c2c7;
        }

        .show {
            display: block !important;
        }

        .hide {
            display: none;
        }

        label.error {
            display: list-item;
        }

        input.error {
            border: solid 1px red;
        }
    </style>
</head>

<body>
<div class="container-fluid" style="padding: 0;">
    <div class="main-content">
        <div class="row" style="padding: 20px 30px; background-color: rgb(103, 158, 202); color: white;">
            <div class="col-6">
                <h2>Products List</h2>
            </div>
            <div class="col-3 offset-3">
                <button id="btnShowCreateModal" class="create" style="color: white; border: solid 1px white"><i
                        class="fa-solid fa-plus"></i> Create New Product</button>
                <a href="/logout">
                    <button id="logout" class="logout" style="color: white; border: solid 1px white"><i
                            class="fa-solid fa-right-from-bracket"></i></button>
                </a>

            </div>
        </div>
        <table id="table-list" class="table text-center" style="font-size: 13px; padding: 0;">
            <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <!-- Modal deleted list -->
        <div class="modal fade" id="deletedModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Deleted Customer List</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table id="table-deleted" class="table text-center " style="font-size: 13px; padding: 0;">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal create -->
        <th:block th:replace="product/modalCreate :: modalCreate"></th:block>
        <!-- Modal edit -->
        <th:block th:replace="product/modalUpdate :: modalUpdate"></th:block>
    </div>
</div>
<script src="/assets/sweetalert2/v11.7.3/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="/assets/js/AppBase.js"></script>
<script src="/assets/jquery/jquery.validate.min.js"></script>
<script>
    let currentId;

    let product = new Product();
    let avatar = new ProductAvatar();
    let category = new Category();

    const page = {
        urls: {
            getAllCategories: AppBase.API_CATEGORY,
            getAllProducts: AppBase.API_PRODUCT,
            getProduct: AppBase.API_PRODUCT,
            doCreate: AppBase.API_CREATE_PRODUCT,
            doUpdate: AppBase.API_UPDATE_PRODUCT,
            doDelete: AppBase.API_DELETE_PRODUCT
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            loadData: {},
            commands: {},
        }
    }

    page.elements.btnShowCreateModal = $('#btnShowCreateModal');

    page.elements.btnCreate = $('#btnCreate');
    page.elements.btnUpdate = $('#btnUpdate');

    page.dialogs.elements.modalCreate = $('#createModal');
    page.dialogs.elements.productNameCre = $("#productNameCre");
    page.dialogs.elements.priceCre = $("#priceCre");
    page.dialogs.elements.quantityCre = $("#quantityCre");
    page.dialogs.elements.idCategory = $("#idCategory");
    page.dialogs.elements.descriptionCre = $("#descriptionCre");

    page.dialogs.elements.modalUpdate = $('#editModal');
    page.dialogs.elements.productNameUp = $("#productNameUp");
    page.dialogs.elements.priceUp = $("#priceUp");
    page.dialogs.elements.quantityUp = $("#quantityUp");
    page.dialogs.elements.idCategoryUp = $("#idCategoryUp");
    page.dialogs.elements.descriptionUp = $("#descriptionUp");


    page.dialogs.elements.formCreate = $("#formCreateProduct");
    page.dialogs.elements.formUpdate = $("#formUpdateProduct");

    page.dialogs.elements.wrapper = $("section .wrapper");
    page.dialogs.elements.productName = $("#productName");
    page.dialogs.elements.description = $("#description");
    page.dialogs.elements.imageFile = $("#imageFile");
    page.dialogs.elements.wrapperContent = $("section .wrapper .content");
    page.dialogs.elements.imagePreview = $("section .image-preview");
    page.dialogs.elements.imagePreviewCanvas = $("section .image-preview canvas");
    page.dialogs.elements.canvas = $("#canvas");
    page.dialogs.elements.context = page.dialogs.elements.canvas[0].getContext('2d');
    page.dialogs.elements.imagePreviewCanvas.css("display", "none");
    page.dialogs.elements.divImagePreview = $("div.image-preview, div.file-name");
    page.dialogs.elements.btnClearImagePreview = $(".clear-image-preview i");

    page.dialogs.elements.imageFileUp = $("#imageFileUp");
    page.dialogs.elements.imagePreviewCanvasUp = $("section .image-preview #canvasUp");
    page.dialogs.elements.canvasUp = $("#canvasUp");
    page.dialogs.elements.contextUp = page.dialogs.elements.canvasUp[0].getContext('2d');
    page.dialogs.elements.imagePreviewCanvasUp.css("display", "none");
    page.dialogs.elements.divImagePreviewUp = $("#modalUpdateCustomer div.image-preview, div.file-name");

    page.dialogs.elements.btnClearImagePreview = $(".clear-image-preview i");

    page.loadData.getAllProducts = () => {
        $.ajax({
            type: 'GET',
            url: page.urls.getAllProducts
        })
            .done((data) => {
                $.each(data, (i, item) => {
                    product = item;
                    avatar = product.productAvatar;
                    category = product.category;
                    let str = renderProduct(product, avatar, category);
                    $('#table-list tbody').prepend(str);

                })
                addAllEvent();

            })
            .fail((error) => {
                console.log(error);
            })
    }

    page.loadData.getAllCategories = () => {
        $.ajax({
            headers: {
                'accept': 'application/json',
                'content-type': 'application/json'
            },
            type: "GET",
            url: page.urls.getAllCategories
        })
            .done((data) => {
                $("#idCategory").empty();
                $("#idCategoryUp").empty();
                $.each(data, (i, item) => {
                    let str = `<option value="${item.id}">(${item.id}) - ${item.categoryName}</option>`
                    $("#idCategory").append(str);
                    $("#idCategoryUp").append(str);
                })
            })
            .fail((error) => {
                console.log(error);
            })
    }

    page.loadData.findProductById = (productId) => {
        return $.ajax({
            type: "GET",
            url: page.urls.getProduct + "/" + productId,
        })
            .done((data) => {
            })
            .fail((error) => {
                console.log(error);
            })
    }

    //delete
    function addEventDeleteClick() {
        $(".delete").on('click', function () {
            let productId = $(this).data('id');
            page.loadData.findProductById(productId).then((data) => {
                currentId = data.id;
                let productName = data.productName;
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Do you want to remove product " + " ' " + productName + " ' " + " from list?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            headers: {
                                'accept': 'application/json',
                                'content-type': 'application/json'
                            },
                            type: "POST",
                            url: page.urls.doDelete + "/" + currentId
                        })
                            .done((data) => {
                                $("#tr_" + currentId).remove();
                                $(".delete").off("click");
                                addEventDeleteClick();
                            })
                            .fail((error) => {
                                alert("Fail");
                            })
                        Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )
                    }
                })
            })
        })
    }

    //update

    function addEventEditClick() {
        $(".edit").on('click', function () {
            let productId = $(this).data('id');
            page.loadData.findProductById(productId).then((product) => {
                currentId = product.id;
                avatar = product.productAvatar;
                page.dialogs.elements.productNameUp.val(product.productName);
                page.dialogs.elements.priceUp.val(product.price);
                page.dialogs.elements.quantityUp.val(product.quantity);
                page.dialogs.elements.descriptionUp.val(product.description);

                page.loadData.getAllCategories();
                page.dialogs.elements.idCategoryUp.val(product.category.categoryName);

                page.dialogs.commands.loadImageToCanvas(null, "URL", avatar.fileUrl);


                page.dialogs.elements.modalUpdate.modal("show");
            })
                .catch((error) => {
                    alert("Not found this customer");
                });
        })
    }

    page.dialogs.elements.formUpdate.validate({
        rules: {
            productNameCre: {
                required: true,
                minlength: 5,
                maxlength: 50
            },
            priceCre: {
                required: true,
                number: true,
                min: 10000,
                max: 10000000
            },
            quantityCre: {
                required: true,
                number: true,
                min: 0,
                max: 1000
            },
            idCategory: {
                required: true,
            }
        },
        messages: {
            productNameCre: {
                required: 'Please enter product name',
                minlength: 'Min character of product name is ${0}',
                maxlength: 'Max character of product name is ${0}'
            },
            priceCre: {
                required: 'Please enter email',
                number: "Price amount must be a number",
                minlength: 'The price of new product must be more than 10.000 VNĐ',
                maxlength: 'The price of new product must be less than 10 millions VNĐ'
            },
            quantityCre: {
                required: "Please enter quantity of new product",
                number: "Quantity must be a number",
                min: "The quantity of new product must be more than 0",
                max: "The quantity of new product must be less than 1000"
            },
            idCategory: {
                required: "Please select category's id",
            }
        },
        errorLabelContainer: "#editModal .modal-alert-danger",
        errorPlacement: function (error, element) {
            error.appendTo("#editModal .modal-alert-danger");
        },
        showErrors: function (errorMap, errorList) {
            if (this.numberOfInvalids() > 0) {
                $("#editModal .modal-alert-danger").removeClass("hide").addClass("show");
            } else {
                $("#editModal .modal-alert-danger").removeClass("show").addClass("hide").empty();
                $("#formUpdateProduct input.error").removeClass("error");
            }
            this.defaultShowErrors();
        },
        submitHandler: function () {
            page.commands.doUpdate();
        }
    })

    page.elements.btnUpdate.on('click', function () {
        page.dialogs.elements.formUpdate.trigger("submit");
    })

    page.commands.doUpdate = () => {
        let productName = $("#productNameUp").val();
        let price = $("#priceUp").val();
        let quantity = $("#quantityUp").val();
        let categoryId = $("#idCategoryUp").val();
        let description = $("#descriptionUp").val();

        let avatarFile = page.dialogs.elements.imageFileUp[0].files[0];
        console.log(avatarFile);

        let formData = new FormData();
        formData.append("productName", productName);
        formData.append("price", price);
        formData.append("quantity", quantity);
        formData.append("description", description);
        formData.append("categoryId", categoryId);
        formData.append("file", avatarFile);


        $.ajax({
            type: "PATCH",
            contentType: false,
            cache: false,
            processData: false,
            url: page.urls.doUpdate + "/" + currentId,
            data: formData
        })
            .done((data) => {
                product = data;
                category = product.category;
                avatar = product.productAvatar;
                let str = renderProduct(product, avatar, category);
                $("#tr_" + currentId).replaceWith(str);

                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Updated',
                    showConfirmButton: false,
                    timer: 2000
                })

                removeAllEvent();
                addAllEvent();

                page.dialogs.elements.modalUpdate.modal("hide");
            })
            .fail((error) => {
                console.log(error);
            })

    }

    //upload ảnh create
    page.dialogs.commands.loadImageToCanvas = (imageFile, fileType, imageUrl) => {
        page.dialogs.elements.imagePreviewCanvas.css("display", "");
        page.dialogs.elements.wrapper.addClass("active");
        page.dialogs.elements.wrapperContent.css("opacity", 0);

        page.dialogs.elements.imagePreviewCanvasUp.css("display", "");
        page.dialogs.elements.wrapper.addClass("active");
        page.dialogs.elements.wrapperContent.css("opacity", 0);

        let imageObj = new Image();

        imageObj.onload = function () {
            page.dialogs.elements.context.canvas.width = imageObj.width;
            page.dialogs.elements.context.canvas.height = imageObj.height;
            page.dialogs.elements.context.drawImage(imageObj, 0, 0, imageObj.width, imageObj.height);

            page.dialogs.elements.contextUp.canvas.width = 445;
            page.dialogs.elements.contextUp.canvas.height = 345;
            page.dialogs.elements.contextUp.drawImage(imageObj, 0, 0, 445, 345);
        };

        if (fileType === "BINARY") {
            imageObj.src = URL.createObjectURL(imageFile);
        } else {
            imageObj.src = imageUrl;
        }
    }

    page.dialogs.commands.changeImagePreview = (elem) => {
        let imageFile = elem[0].files[0];

        if (imageFile) {
            let reader = new FileReader();

            reader.readAsDataURL(imageFile);

            reader.onload = function (e) {
                if (e.target.readyState === FileReader.DONE) {
                    page.dialogs.commands.loadImageToCanvas(imageFile, "BINARY", null);
                }
            }
        } else {
            page.dialogs.elements.clearImagePreview();
        }
    }

    page.dialogs.commands.clearImagePreview = () => {
        page.dialogs.elements.imageFile.val("");
        page.dialogs.elements.imagePreviewCanvas.css("display", "none");
        page.dialogs.elements.wrapper.removeClass("active");
        page.dialogs.elements.wrapperContent.css("opacity", 1);
    }

    //create

    page.commands.doCreate = () => {
        let productName = page.dialogs.elements.productNameCre.val();
        let price = page.dialogs.elements.priceCre.val();
        let quantity = page.dialogs.elements.quantityCre.val();
        let description = page.dialogs.elements.descriptionCre.val();
        let idCategory = $("#idCategory option:selected").val();
        let avatarFile = page.dialogs.elements.imageFile[0].files[0];

        console.log(avatarFile);
        if (avatarFile == undefined) {
            avatarFile = null;
        }

        let formData = new FormData();
        formData.append("productName", productName);
        formData.append("price", price);
        formData.append("quantity", quantity);
        formData.append("description", description);
        formData.append("categoryId", idCategory);
        formData.append("file", avatarFile);


        $.ajax({
            type: "POST",
            contentType: false,
            cache: false,
            processData: false,
            url: page.urls.doCreate,
            data: formData
        })
            .done((data) => {
                product = data;
                category = product.category;
                avatar = product.productAvatar;
                let str = renderProduct(product, avatar, category);
                $('#table-list tbody').prepend(str);

                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Created new product',
                    showConfirmButton: false,
                    timer: 2000
                })

                addAllEvent();

                page.dialogs.elements.modalCreate.modal("hide");
                page.dialogs.elements.formCreate[0].reset();

            })
            .fail((jqXHR) => {

                let errors = jqXHR.responseJSON;

                let str = '';
                $.each(errors, (k, v) => {
                    str += `<label for="${k}Cre">${v}</label>`;
                })

                $('#createModal .modal-alert-danger').append(str);
                $('#createModal .modal-alert-danger').removeClass('hide').addClass('show');
            })
    }

    page.dialogs.elements.formCreate.validate({
        rules: {
            productNameCre: {
                required: true,
                minlength: 5,
                maxlength: 50
            },
            priceCre: {
                required: true,
                number: true,
                min: 10000,
                max: 10000000
            },
            quantityCre: {
                required: true,
                number: true,
                min: 0,
                max: 1000
            },
            idCategory: {
                required: true,
            }
        },
        messages: {
            productNameCre: {
                required: 'Please enter product name',
                minlength: 'Min character of product name is ${0}',
                maxlength: 'Max character of product name is ${0}'
            },
            priceCre: {
                required: 'Please enter email',
                number: "Price amount must be a number",
                minlength: 'The price of new product must be more than 10.000 VNĐ',
                maxlength: 'The price of new product must be less than 10 millions VNĐ'
            },
            quantityCre: {
                required: "Please enter quantity of new product",
                number: "Quantity must be a number",
                min: "The quantity of new product must be more than 0",
                max: "The quantity of new product must be less than 1000"
            },
            idCategory: {
                required: "Please select category's id",
            }
        },
        errorLabelContainer: "#createModal .modal-alert-danger",
        errorPlacement: function (error, element) {
            error.appendTo("#createModal .modal-alert-danger");
        },
        showErrors: function (errorMap, errorList) {
            if (this.numberOfInvalids() > 0) {
                $("#createModal .modal-alert-danger").removeClass("hide").addClass("show");
            } else {
                $("#createModal .modal-alert-danger").removeClass("show").addClass("hide").empty();
                $("#formCreateProduct input.error").removeClass("error");
            }
            this.defaultShowErrors();
        },
        submitHandler: function () {
            page.commands.doCreate();
        }
    })

    //     all function
    function renderProduct(product, avatar, category) {
        let image_thumbnail = `
                ${AppBase.API_CLOUDINARY}/${AppBase.SCALE_IMAGE_W_80_H_80_Q_100}/${avatar.fileFolder}/${avatar.fileName}`;
        return `<tr id="tr_${product.id}">
                                        <td>${product.id}</td>
                                        <td>
                                            <img src="${image_thumbnail}" alt="">
                                        </td>
                                        <td>${product.productName}</td>
                                        <td>${product.price}</td>
                                        <td>${product.quantity}</td>
                                        <td>${product.description}</td>
                                        <td>${category.categoryName}</td>
                                        <td><button type="button" class="btn btn-secondary edit" data-id="${product.id}">
                                                  <i class="fa-solid fa-pen-to-square"></i></button>
                                            <button type="button" class="btn btn-danger delete" data-id="${product.id}">
                                                 <i class="fa-solid fa-trash"></i></button>
                                        </td>
                      </tr>`
    }

    $(".modal").on('hidden.bs.modal', () => {
        $('.modal form').validate().resetForm();
        page.dialogs.elements.formUpdate[0].reset();
        page.dialogs.elements.formCreate[0].reset();
        $(".modal .modal-alert-danger").removeClass("show").addClass("hide");
        $('.modal .modal-alert-danger').empty().removeClass("show").addClass("hide");
        $('.modal form').find("input.error").removeClass("error");
    })

    function addAllEvent() {
        addEventEditClick();
        addEventDeleteClick();
    }

    function removeAllEvent() {
        $(".edit").off("click");
        $(".delete").off("click");
    }

    page.commands.loadData = () => {
        page.loadData.getAllProducts();
        page.loadData.getAllCategories();
    }

    page.initializeControlEvent = () => {

        page.dialogs.elements.divImagePreview.on('click', () => {
            page.dialogs.elements.imageFile.trigger('click');
        })

        page.dialogs.elements.divImagePreviewUp.on('click', () => {
            page.dialogs.elements.imageFileUp.trigger('click');
        })

        page.dialogs.elements.imageFile.on("change", function () {
            page.dialogs.commands.changeImagePreview(page.dialogs.elements.imageFile);
        });

        page.dialogs.elements.imageFileUp.on("change", function () {
            page.dialogs.commands.changeImagePreview(page.dialogs.elements.imageFileUp);
        });

        page.dialogs.elements.btnClearImagePreview.on('click', () => {
            page.dialogs.commands.clearImagePreview();
        })

        page.elements.btnShowCreateModal.on('click', () => {
            $("#createModal").modal('show');
        })

        page.elements.btnCreate.on('click', function () {
            $("#formCreateProduct").trigger("submit");
        })
    }

    $(() => {
        page.commands.loadData();
        page.initializeControlEvent();
    })
</script>
</body>

</html>